@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    font-family: "Sarabun",sans-serif;
    text-decoration: none;
}

nav {
    width: 100%;
    height: 6vw;
    background: linear-gradient(125deg,rgb(70, 107, 228),rgb(8, 80, 204));
}

.nav-container {
    max-width: 90vw;
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 600;

}
.logonav {
    width: 3.5vw;
    object-fit: contain;
    margin-left: 50px;

}

.nav-departname p{
    margin-left: 50px;
    font-size: 1.7vw;
}

.nav-about a {
    margin-left: 500px;
    font-size: 1.3vw;
    cursor: pointer;
    color: #fff;
}

.nav-logout .btn{
    width: 200px;
    height: 100px;
    background: red;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 1.3vw;
    color: #fff;
    font-weight: 600;
    margin-left: 50px;
}

.container {
    width: 100vw;
    background: rgb(209, 209, 204);
    /* margin: 0 auto; */
}

.textposition {
    display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* 100% of the viewport height */
            text-align: center;
}

.sidebar {
    width: 20%;
    padding: 10px;
    background: gray;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: #000;
    color: #000;
    transition: 0.3s;
}

.sidebar-item:hover {
    background: rgb(8, 80, 204);
    color: #fff;

}
table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    /* background-color: #e9ecef; */
    border-radius: 0.25rem;

}
.float-sm-right {
    float: right;
  }
